//gulp watch
@import "nullstyle.scss";

%lognavflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 98px 0 130px; 
}

header {
    width: 100%;
    height: 76px;
    background-color: #fff;
    @extend %lognavflex;
}

a {
    text-decoration: none;
}

.nav-title {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 0 0 0 30px;
    line-height: 19px;
    color: #1A212F;
    &:hover {
        color: #707174;
    }
}

.banner {
    width: 100%;
    height: 504px;
    background: #f9bc5a url(../img/cat.png);
    background-position-x: 520px;
    background-repeat: no-repeat;
}

.banner__content {
    height: 504px;
    width: 50%;
    background: #f9bc5a url(../img/gradient.svg);
    background-repeat: no-repeat;
    &__city {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        color: #1A212F;
    }
    &__title {
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        font-size: 62px;
        line-height: 73px;
        color: #1A212F;
    }
    &__desc {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #1A212F;
        padding: 0 0 40px;
    }
    &__button {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #1A212F;
        text-align: left;
        text-indent: 15px;

        width: 206px;
        height: 50px;
        background: #FFFEFD url(../img/btn_img.svg);
        background-repeat: no-repeat;
        background-position-x: 160px;
        background-position-y: 3px;
        box-shadow: 0px 5px 25px rgba(26, 33, 47, 0.1);
        border-radius: 25px;
    }
    display: flex;
    flex-direction: column;
    padding: 153px 198px 153px;
}

.page-footer {
    width:100%;
    height: 125px;
    background-color: #FFFEFD;
    &__lognav {
        @extend %lognavflex; 
        padding-top: 12px;
    }
    &__copyright-text {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8F8F8F;
    }
    &__privacy-policy {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #8F8F8F;
        &:hover {
            color: #292929;
        }
    }
    &__line {
        width: 100%;
        padding: 12px 0 20px;
    }
    &__copyright { 
        display: flex;
        &-text {
            padding: 0 5px;
        }
    }
    &__etc {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 198px 0 198px;
    }
}
